* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

table {
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
    width: 500px;
    height: 150px;
    border-collapse: separate;
    font-weight: bold;

}

td,
th {
    border: 2px solid black;
}

th {
    font-size: 25px;
}

img {
    width: 70px;
    height: 40px;

}

.wrapper {
    margin-left: 100px;
    padding: 20px;
}

.block td {
    text-align: center;
}

h2 {
    padding: 10px;
}